/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
	  @apply font-mainFamily;
	  font-feature-settings: "palt";
	  -webkit-font-smoothing: antialiased;
	}
  
	a {
	  color: inherit;
	  text-decoration: underline;
	  text-decoration-skip-ink: none;
	  text-underline-position: under;
	}
  
	.vpc {
	  @apply max-sm:hidden;
	}
  
	.vsp {
	  @apply hidden max-sm:block;
	}
  
	.pos-center {
	  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
  }