---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-10">
		<h1 class="text-4xl mb-10">stans sandbox</h1>
		<div class="[&>a]:block [&>a+a]:mt-3">
			<a class="underline" href="./nested">Nested</a>
			<a class="underline" href="./takinami">瀧浪さんの遊び場</a>
		</div>
	</main>
</Layout>